@{
    ViewBag.Title = "Login Failure";
}


<div class="container">
    <div class="col-8 offset-2">
        <div class="mini-spacer">
            <h2 class="title font-light text-center"><a href="#" class="link">Sorry about that....</a></h2>
            <p class="m-t-30 m-b-30 text-center">
                Unsuccessful login with service.
            </p>
        </div>
    </div>>
</div>