@{
    ViewBag.Title = "Email Sent";
}


<div class="container">
    <div class="col-8 offset-2">
        <div class="mini-spacer">
            <h2 class="title font-light text-center"><a href="#" class="link">Email has been sent!</a></h2>
            <p class="m-t-30 m-b-30 text-center">
                We have sent you a email with a link to recover your account!
            </p>
        </div>
    </div>>
</div>