@{
    ViewBag.Title = "About";
}



<div class="container">
    <div class="col-8 offset-2">
        <div class="mini-spacer">
            <h2 class="title font-light text-center"><a href="#" class="link">Why I created this blog</a></h2>
            <p class="m-t-30 m-b-30 text-center">
                My name is Damien Ostler. I am currently a student attending the twelve week full stack .net development
                program at the Coder Foundry bootcamp. I created this Blog to showcase some of my skills but also be able to share
                what I am learning and how I am applying it.
            </p>
        </div>
    </div>>
</div>