
@{
    ViewBag.Title = "Error";
}



<div class="mini-spacer">
    <h2 class="title font-light text-center"><a href="#" class="link">Oops! A error has occured!</a></h2>
    <p class="m-t-30 m-b-30 text-center">
        @ViewBag.Error
    </p>
</div>