
<div class="banner-innerpage" style="background-image:url(/Images/innerpage/banner-bg.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center ">
            <!-- Column -->
            <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
                <h1 class="title">Damien Ostlers Blog</h1>
                <h6 class="subtitle op-8">Read about what I learned about and how I put it to use weekly.</h6>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>
