<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNet.Identity;
@using System.Configuration;
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="16x16" href="Images/favicon.png">
    <title>@ViewBag.Title - @ConfigurationManager.AppSettings.Get("ApplicationName")</title>

    <link href="~/Content/Main/aos.css" rel="stylesheet" />
    <link href="~/Content/Main/blog-homepage.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Main/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Main/iconmind.css" rel="stylesheet" />
    <link href="~/Content/Main/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/Main/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/Main/prism.css" rel="stylesheet" />
    <link href="~/Content/Main/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/Main/style.css" rel="stylesheet" />
    <link href="~/Content/Main/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/Main/weather-icons.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            @RenderBody();
        </div>
    </div>

    <script src="~/Scripts/Main/jquery.min.js"></script>
    <script src="~/Scripts/Main/aos.js"></script>
    <script src="~/Scripts/Main/bootstrap.bundle.js"></script>
    <script src="~/Scripts/Main/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Main/bootstrap.js"></script>
    <script src="~/Scripts/Main/bootstrap.min.js"></script>
    <script src="~/Scripts/Main/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Scripts/Main/popper.min.js"></script>
    <script src="~/Scripts/Main/prism.js"></script>
    <script src="~/Scripts/Main/custom.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/8nicswbw8rmokilkwa76b23ncvmxvzdqy4ll55hiessnefya/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: ".mceEditor" });</script>
    @RenderSection("scripts", required: false)
</body>

</html>

