
@{
    ViewBag.Title = "Error";
}


<div class="container">
    <div class="col-8 offset-2">
        <div class="mini-spacer">
            <h2 class="title font-light text-center"><a href="#" class="link">Thankyou but..</a></h2>
            <p class="m-t-30 m-b-30 text-center">
                You are already subscribed! If you arent getting the newsletter just check your spam and make sure that
                you dont have us going to your spam folder!
            </p>
        </div>
    </div>
</div>