
@Html.Partial("_ImageBannerPartial")
<div class="container">
    <div class="col-8 offset-2">
        <div class="mini-spacer">
            <h2 class="title font-light text-center"><a href="#" class="link">Success!</a></h2>
            <p class="m-t-30 m-b-30 text-center">
                We really appreciate you subscribing to our news letter! You will now recieve emails with our articles
                whenever a new one is published!
            </p>
        </div>
    </div>
</div>